@{
    Layout = "~/_RobotLayout.cshtml";
    int robotId = Convert.ToInt16(Session["RobotID"]);
    DeleteItemsFromDB db = new DeleteItemsFromDB();
    var sql = "DELETE FROM Robots WHERE RobotID = @0";

    if (IsPost && WebSecurity.IsAuthenticated){
        db.DeleteRobotFromDB(robotId);
    }
}

<h1>Edit</h1>

<form method="post" enctype="multipart/form-data" action="">
    <input type="submit" name="buttonSubmit" value="Delete Robot"></input>
</form>
