@{
    Layout = "~/_RobotLayout.cshtml";
    int robotId = Convert.ToInt16(Session["RobotID"]);
    DeleteItemsFromDB db = new DeleteItemsFromDB();


    if (IsPost && WebSecurity.IsAuthenticated){
        if(Request.Form["editSubmit"] != null)
        {


        }
        if(Request.Form["deleteSubmit"] != null)
        {
            db.DeleteRobotFromDB(robotId);
            Response.Redirect("~/Menu/RobotList");
        }
    }
}

<h1>Edit Robot</h1>

<form method="post" enctype="multipart/form-data" action="">
    <input type="submit" name="editSubmit" value="Edit"></input>
    <input type="submit" name="deleteSubmit" value="Delete"></input>
</form>