@{
    Layout = "~/_RobotLayout.cshtml";
    string robotId = Session["RobotID"].ToString();
    var db = Database.Open("Cyberdyne");
    var sql = "DELETE FROM Robots WHERE RobotID = @0";

    if (IsPost && WebSecurity.IsAuthenticated){
        db.Query(sql,robotId);
    }
}

<h1>Edit</h1>

<form method="post" enctype="multipart/form-data" action="">
    <input type="submit" name="buttonSubmit" value="Delete Robot"></input>
</form>
