@{
    Layout = "~/_RobotLayout.cshtml";
    Page.Title = "Software";

    RepoManager RM = new RepoManager();
    string robotId = Session["RobotID"].ToString();
    RM.GetSoftwareByRobotId(Convert.ToInt16(robotId));
}

<h1>@Page.Title</h1>
@foreach(var Software in RM.softwareRepository)
{ 
    <p class="data_table">
        @Software.name
        @Software.version
        @Software.location
    </p>   
}