@using Resources;
@{
  Layout = "~/_SiteLayout.cshtml";

}
<div id="body">
    @RenderSection("featured", required: false)
    <nav>
        <ul id="menu-side">
            <li><a href="~/Menu/Robots/?id=@Session["RobotID"]">Robot</a></li>
            <li><a href="~/Menu/RobotHardware/?id=@Session["RobotID"]">Hardware</a></li>
            <li><a href="~/Menu/RobotSoftware/?id=@Session["RobotID"]">Software</a></li>
            @if (WebSecurity.IsAuthenticated)
            {
                <li><a href="~/Menu/RobotExtra/?id=@Session["RobotID"]">Edit Robot</a></li>
            }
        </ul>
    </nav>
    <div class="well">
        @RenderBody()
    </div>
</div>