@using Microsoft.Web.Helpers;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Add robot";

    var fileName ="";
    //Validation fields
    Validation.RequireField("RobotName", "You must enter a robot name");
    Validation.RequireField("Description", "You must enter a description");
    Validation.RequireField("Parts", "You must specify the parts");
    Validation.RequireField("Software", "You haven't provided a software link");

    //Check if validation is valid and a user is logged in
    if(IsPost && Request.Files.Count >0 && Validation.IsValid()){
        var dirPath = Server.MapPath("~/App_Data/UploadedFiles/");
        Directory.CreateDirectory(dirPath);

        var fileSavePath = "";
        var uploadedFile = Request.Files[0];
        fileName = Path.GetFileName(uploadedFile.FileName);
        fileSavePath = Server.MapPath("~/App_Data/UploadedFiles/" + fileName);
        uploadedFile.SaveAs(fileSavePath);
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        @Html.ValidationSummary()
        <form method="post" enctype="multipart/form-data" action="">
            <fieldset>
                <p><label for="RobotName">Robot Name:</label>
                <input type="text" name="RobotName" value="" />
                
                <p><label for="Description">Description:</label>
                <input type="text" name="Description" value="" />

                <p><label for="Parts">Parts:</label>
                <input type="text" name="Parts" value="" />

                <p><label for="Files">Files:</label>
                <input type="file" name="Files" value=""/>

                <p><label for="Software">Software:</label>
                <input type="text" name="Software" value="" />

                <p><input type="submit" name="buttonSubmit" value="Add Robot" /></p>
            </fieldset>
        </form>
    </body>
</html>
