@using Resources;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<div class="row">
    <div class="col-sm-6">
    <hgroup class="title">
        <h1>@Page.Title</h1>
    </hgroup>

    <section class="contact">
        <header>
            <h3>@Content.Phone</h3>
        </header>
        <p>
            <span class="label">NHL:</span>
            <span>058 251 2345</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>E-mail:</h3>
        </header>
        <p>
            <span class="label">@Content.Support</span>
            <span><a href="mailto:Josfoppele@nhl.nl">Josfoppele@nhl.nl</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>@Content.Address</h3>
        </header>
        <p>
            NHL Leeuwarden<br />
            Rengerslaan 10, 8917 DD Leeuwarden
        </p>
    </section>
    </div>
    <div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2389.3253944546836!2d5.796703615254728!3d53.212013792466514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c8fe7eadc33e59%3A0xcab3143cb8098acd!2sNHL+Hogeschool!5e0!3m2!1sen!2snl!4v1458811454260" width="600" height="450" style="border:0"></iframe>
    </div>
</div>