@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div class="content-wrapper">
    <div class="site-logo">
        <a href="~/">
            <img src="../Images/Logo.png" alt="Cyberdyne"></img>
        </a>
    </div>
</div>