@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Robots";
    var loadedPage = RenderPage("~/_RobotHome.cshtml");

    if (IsPost && !Request["robotButton"].IsEmpty()) {
        loadedPage = RenderPage("~/_RobotHome.cshtml");
    }
    
    else if (IsPost && !Request["hardwareButton"].IsEmpty()) {
        loadedPage = RenderPage("~/_RobotHardware.cshtml");
    }
    
    else if (IsPost && !Request["softwareButton"].IsEmpty()) {
        loadedPage = RenderPage("~/_RobotSoftware.cshtml");
    }

    else if (IsPost && !Request["extraButton"].IsEmpty()) {
        loadedPage = RenderPage("~/_RobotExtra.cshtml");
    }
}

<div class="content-wrapper">
    <nav>
        <ul id="menu-side">
            <li><form method="post"><input type="submit" name="robotButton" value="Robot"/></form></li>
            <li><form method="post"><input type="submit" name="hardwareButton" value="Hardware"/></form></li>
            <li><form method="post"><input type="submit" name="softwareButton" value="Software"/></form></li>
            <li><form method="post"><input type="submit" name="extraButton" value="Extra"/></form></li>
        </ul>
    </nav>
    @loadedPage
</div>